@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
    z-index: 999;
}

nav ul {
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem 3rem;
}

nav li {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}
nav li a:hover{
    color: #EDDBC7;
}

a {
    text-decoration: none;
}

a:visited,
a:link,
a:active{
    color: #AD8E70;
}

h1,
h2,
h3,
p {
    font-family: 'Poppins', sans-serif;
}

.logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
}

aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
    height: 100%;
    display: flex;
}

aside ul {
    padding: 10px;
    margin-top: 150px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F9F5E7;
    color: #AD8E70;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

aside ul li:hover {
    transform: scale(1.5);
    transition: all .2s ease-in-out;
}

#home {
    background-color: #EDDBC7;
    margin-top: 100px;

}

.logo p,
.footer-title h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
}

/* Home */

.home {
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 30px 0px;
    margin: auto;
    align-items: center;
}

.hometitle h3 {
    font-size: 250%;
}

.hometitle h1 {
    font-size: 350%;
}

.hometitle h2 {
    font-size: 200%;
    padding-bottom: 15px;
}

.hometitle p {
    font-size: 105%;

}
.hometitle h1:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.profilepic img {
    width: 300px;
    border-radius: 50%;
    margin-left: 30px;
}
.profilepic img:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

/* footer */
.footer-closed {
    text-align: center;
    background-color: #EDDBC7;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer-title {
    font-size: 75%;
}

/* About */

.about {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    padding: 30px 0px;
}

.aboutpic img {
    width: 250px;
    border-radius: 50%;
    margin-right: 50px;
}
.aboutpic img:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.abouttext {
    text-align: justify;
}

.abouttext h3 {
    font-size: 300%;
}

/* slideshow images */
#photos h2 {
    text-align: center;
    padding: 30px 0px;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #EDDBC7;
}

.prev,
.next,
.text,
.number {
    font-family: 'Poppins', sans-serif;
}

.text {
    color: white;
    font-size: 30px;
    padding: 10px 12px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}


.number {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #AD8E70;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

.photo {
    border-radius: 2%;
    width: 100%;
}

/* Cards Index */
.container {
    width: 90%;
    margin: 50px auto;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    transition: transform 0.3s ease-in-out;
    background-color: #F9F5E7;
    border-radius: 15px;
}

.card-header {
    position: relative;
}

.card-header img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    width: 100%;
    opacity: 0.75;
    filter: brightness(0.8);
}

.text-caption {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 3;
    padding: 1rem;
}

.text-caption h1 {
    text-align: center;
    color: #f9f5E7;
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body .btn {
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #EDDBC7;
    margin-top: 30px;
    padding: 10px 5px;
    transition: 0.3s;
    border-radius: 5px;
}

.card-body .btn:hover {
    transform: scale(1.07);
}

.card:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);

}

.project-title {
    margin-bottom: 10px;
    margin-left: 20px;
}