@media screen and (max-width:620px){
    nav {
        display: block;
        flex-direction: column;
    }

    section {
        width: fit-content;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    aside ul {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 1rem;
        flex-flow: column nowrap;
        bottom: 0;
        margin-top: 300px;
    }
    #home{
        margin-top: 0px;
    }
    .home, .about {
        flex-direction: column;
    }

    .home img {
        display: none;
    }

    .hometitle h2, h3 {
        font-size: 75%;
    }
    
    .hometitle h1 {
        font-size: 100%;
    }

    .hometitle p {
        font-size:75%;
    }


    .profilepic img{
        display: block;
        flex-direction: column;
        width:150px;
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .aboutpic img {
        display: block;
        flex-direction: column;
        width:150px;
        margin-left: auto;
        margin-right: auto;
    }

    .prev, .next,.text, .number {
        font-size: 12px
    }
    
}

/* Responsive media queries for cards */

@media screen and (max-width: 1000px) {
    .text-caption h1 {
        font-size: large;
    }

    .card {
        flex: 0 0 40%;
    }
}

@media screen and (max-width: 620px) {
    .project-title{
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .text-caption h1 {
        font-size: xx-large;
    }

    .container {
        width: 100%;
    }

    .heading {
        padding: 20px;
        font-size: 30px;
    }

    .row {
        margin: 0 2rem;
    }

    .card {
        margin: 2rem;
        flex: 0 0 100%;
    }

    .card-header img {
        aspect-ratio: 1;
    }

    .text-caption {
        aspect-ratio: 1;
    }
}